/* contacto*/
fieldset {
    padding:12px;
    margin: 12px;
    display: block;
    text-align:center;
    font-size: 1.4tem;
    margin: 0% 5% 5% 5%;
    .whole-width {
        display: flex;
        flex-direction: column;

        .btn {
            width: 120px;

        .input-group {
            width:350px;
            justify-items: center; 
            }
          
        }
    }
        
}


.form-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:center;
    padding:0 10%;
   

    .no-robot {
        width: 350px;
    }

    .input-group {
        margin: 7px;
        height: 40px;
        justify-content: center;
        align-content: center;
        &:focus {
            width:500px;
        }
        
        /*width: 400px; */

        .input-container {
            align-content: center;
        }
    }

      .form-control {
        width:350px;
        height: 40px;
        &:focus {
            width: 380px;
            font-size: 1.45em;
            background-color: $grisEtrr;
        }
        }
    }

   
       
