
/*exámenes*/
.seccion-info p, h2 {
    padding: 15px;
    margin: 15px;
}

iframe {
    max-width: 350px;
}

.infografia {
    align-self:flex-end;

    img{
        display: block;
        width:400px;
        margin-left:auto; 
        margin-right: auto;
        border-radius: 10%;
    }
}

.examenes__principal{
    padding: 15px;
    display: flex;
    flex-direction: column;   
    margin: 0 3%;
}

.esol {
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
        border-radius: 5%;
        width: auto;
        height: 150px;
    }
}

#CFER {
    display: flex;
}


.niveles {
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; 
    align-items: center;
    justify-items: center;

    .FCE {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .PET {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-row-end: 2;
    }

    .CAE {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 2;
    }
}


.examen {
    display:flex;
    flex-direction: column;
    align-content: stretch;
   
}
