/*footer*/


#pie {
    background-color: $grisEtrr ;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 50px;
    gap: 15px;
    padding-right: 25px;

    .pie__red {
        flex: auto;
        width: 100%;
        padding: 15px;
    }
}