@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Source+Sans+Pro:wght@400;700&display=swap'); /*de dónde saco las fuentes*/


$naranjaEtrr: #FF6720;
$celesteEtrr: #0071cd;
$grisEtrr: #c5c5c5;
$grisTexto: #666666;
$fondo: #eeeeee;

@import "index";
@import "staff";
@import "examenesinternacionales";
@import "galeria";
@import "contacto";
@import "header";
@import "footer";



/*estilos generales*/

* {
    padding: 0; /*reseteo*/
    margin: 0;
    box-sizing:border-box;
}

body{
    background-color: $fondo ;
    color: $grisTexto;
    font-family: Raleway, sans-serif;
    position: relative;
    min-height: l00vh;
    }

.principal p {
    margin: 10px 20px;
    line-height:150%;
}

ul {
    text-align:center;

    li {
        list-style:none ; /*saca los bullet points*/
        display: inline-block; /*deja de ser de bloque*/
        margin: 0px 10px;
        padding: 5px;
    }
}


a { /*todos los enlaces se le cambia el color, fuente y subray */
    color: $grisTexto;
    font-size: 1rem;
    text-decoration: none;
    display:block;

    &:hover {
        color: $naranjaEtrr;
        text-decoration:underline;
}
}

h1 {
    padding: 15px;
    text-align: center;
    font-size: 2em  ;
}

@for $i from 2 to 7 {
    h#{$i} {
        font-size: 42px/ $i+2*1.2;
    }
}

.emoticon {
    width: 20px;
    height: 20px;
}

/* Media Queries*/
 /*Tablet*/
@media only screen and (max-width:768px){
    #encabezado {
        align-items: flex-end;
        align-content:flex-end;
        left: 0;
        width: auto;
        height: auto;
        }
       
        .flex-container {
            width: auto;
            justify-content: flex-start;
        }
    
        .menu-nav-list {
            flex-direction: column;
            align-items: flex-start;
            
        }
    
      
    
        .examenes__principal {
            flex-direction: column;
            padding: 5px;
        }
    
        .esol {
            flex-direction: column;
        }
    
        .seccion-info {
            flex-direction: column;
            padding: 5px;
        }
    
        .niveles {
        display:flex;
        flex-direction: column;
        }
    
        .form-container {
            align-items: baseline;
            padding: 10%;
        }
    
}


/*Mobile*/
@media only screen and (max-width:576px) {
    #encabezado {
    align-items: flex-start;
    align-content:flex-start;
    left: 0;
    width: auto;
    height: auto;
    }
   
    .flex-container {
        width: auto;
        justify-content: flex-start;
    }

    .menu-nav-list {
        flex-direction: column;
        align-items: flex-start;
        
    }

    .grupo-profesores {
        flex-direction: column;
        justify-content: center;
        align-content: center;
        width: 100%;
    }

    .examenes__principal {
        flex-direction: column;
        padding: 5px;
    }

    .esol {
        flex-direction: column;
    }

    .seccion-info {
        flex-direction: column;
        padding: 5px;
    }

    .niveles {
    display:flex;
    flex-direction: column;
    }

    .form-container {
        align-items: baseline;
        padding: 10%;
        width: 300px;
    }

    .form-container .form-control {
        width: 170px;
    }

    .form-container .form-control:focus {
        width: 200px;
        
    }

  
}