@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Source+Sans+Pro:wght@400;700&display=swap'); /*de dónde saco las fuentes*/

@import "index";
@import "header";
@import "staff";
@import "examenesinternacionales";
@import "galeria";
@import "contacto";
@import "footer";


* {
    padding: 0; /*reseteo*/
    margin: 0;
    box-sizing:border-box;
}

body{
    background-color: #333652;
    color: #6a7968;
    font-family: Raleway, sans-serif;
    position: relative;
    min-height: l00vh;
    }

.principal p {
    margin: 15px;
    line-height:150%;
}

ul {
    text-align:center;

    li {
        list-style:none ; /*saca los bullet points*/
        display: inline-block; /*deja de ser de bloque*/
        margin: 0px 10px;
        padding: 5px;
    }
}


a { /*todos los enlaces se le cambia el color, fuente y subray */
    color:#323030 !important; /*al usar Bootstrap cambió esta config personalizada*/
    font-size: 1rem;
    text-decoration: none !important;
    display:block;
}

a:hover {
    color:#FF6520 !important; /*al usar Bootstrap cambió esta config personalizada*/
    text-decoration:underline !important;
}

h1 {
    padding: 15px;
    text-align: center;
    font-family:unset  ;
}


/* Media Queries*/
 /*Tablet*/
@media only screen and (max-width:768px){}

/*Mobile*/
@media only screen and (max-width:576px) {
    #encabezado {
    align-items: flex-start;
    align-content:flex-start;
    left: 0;
    width: auto;
    height: auto;
    }
   
    .flex-container {
        width: auto;
        justify-content: flex-start;
    }

    .menu-nav-list {
        flex-direction: column;
        align-items: flex-start;
        
    }

    .grupo-profesores {
        flex-direction: column;
        justify-content: center;
        align-content: center;
        width: 100%;
    }

    .examenes__principal {
        flex-direction: column;
        padding: 5px;
    }

    .esol {
        flex-direction: column;
    }

    .seccion-info {
        flex-direction: column;
        padding: 5px;
    }

    .niveles {
    display:flex;
    flex-direction: column;
    }

    .form-container {
        align-items: baseline;
        padding: 10%;
    }

}